<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/formPatient}">Add Patient</a>
            </li>
        </ul>
        <form class="form-inline" method="get" th:action="@{index}">
            <input class="form-control" type="search" placeholder="Search" name="keyword" th:value="${keyword}"/>
        </form>
        <ul class="navbar nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false" th:text="${#authentication.name}">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <form method="post" th:action="@{/logout}">
                            <input type="submit" class="dropdown-item" value="Logout"/>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<section layout:fragment="content1"></section>

</body>
</html>